body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth; /* smooth scrolling */
}

/* NAV BAR */
.navbar {
  background: rgba(0,0,0,0.7);
  padding: 15px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

/* HOME WITH BACKGROUND IMAGE */
.home-section {
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding-top: 200px;
}

.home-section h1 {
  font-size: 50px;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.light {
  background: #f9f9f9;
}

/* MENU */
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu-card {
  border: 1px solid #ddd;
  width: 220px;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

.menu-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.menu-card span {
  font-weight: bold;
  color: #e63946;
}
